.bigContainer
{
    background-color: #0F172A;
    color: white;
    font-weight: 600;
    border-radius: 20px;
}
.logos-latest
{
    width: 200px;
}
.latest
{
    color: white;
    font-family: Bree Serif;
    font-size: 25px;
    font-weight: 600
}